@import '../../../assets/styles/settings';


.users{
     .first{
        .const-1{
            .checkbox {
                background-color: red;
            }
        }
        
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        display: flex;
        flex-direction: row;
        .const-1, .cont-2, .cont-3, .cont-4, .cont-5{
            padding: 10px;
         }
        .user-img{
            background-image: url(../../../assets/images/profile-style-img3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            width: 50px;
            height: 40px;
        }
    }
}




.letter-box-wrapper {
    min-height: 100vh;
    height: auto;
    padding-bottom: 50px;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .letter-box-container {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }

        .section-1 {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 20px;


            .base_card {
                background-color: $dark-blue;
                height: 100vh;
                border-radius: 20px;
                padding: 20px;
                &_2{
                    border-radius: 20px;
                    padding: 20px;
                }
                .buttons{
                    
                    .compose-email {
                        @extend %blue-btn;
                        padding: 20px;
                        width: 100%;
                        border-radius: 10px;
                        margin: 0 auto;
                    }
                    button{
                        padding: 10px 20px;
                        &.active{
                            background-color: $light-blue;
                        }
                    }
                }
            }

        }


    }
}

.nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $even-darker-blue;

    .search{
        padding: 10px;
        background-color: #10101c;
        border: none;
        border-radius: 5px;
        width: 30%;
    }
 }




/* Стили для модального окна */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.compose-message {
    background-color: $dark-blue;
    border-radius: 8px;
    padding: 20px;
    width: 700px;
    bottom: 100px;
    left: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.compose-message textarea {
    height: 150px;
    resize: none;
}

.compose-message button {
    background-color: #3b3b3b;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #e0e0e0;
    cursor: pointer;
    margin-top: 10px;
}

.compose-message button:hover {
    background-color: #505050;
}

.compose-message .buttons {
    display: flex;
    justify-content: space-between;
}

.compose-message label {
    margin-top: 10px;
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.section-2 {
    width: 20%;
    height: 30vh;
    background-color: red
}



.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Inbox{
        padding: 20px;
        background-color: transparent;
    }
}@import '../../../assets/styles/settings';


.users{
     .first{
        .const-1{
            .checkbox {
                background-color: red;
            }
        }
        
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        display: flex;
        flex-direction: row;
        .const-1, .cont-2, .cont-3, .cont-4, .cont-5{
            padding: 10px;
         }
        .user-img{
            background-image: url(../../../assets/images/profile-style-img3.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            width: 50px;
            height: 40px;
        }
    }
}




.letter-box-wrapper {
    min-height: 100vh;
    height: auto;
    padding-bottom: 50px;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .letter-box-container {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }

        .section-1 {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 20px;



            .base_card {
                background-color: $dark-blue;
                height: 100vh;
                border-radius: 20px;
                padding: 20px;
                &_2{
                    border-radius: 20px;
                    padding: 0;
                    overflow: hidden;
                    .users{
                        padding: 20px;
                    }
                }
                .buttons{
                    
                    .compose-email {
                        @extend %blue-btn;
                        padding: 20px;
                        width: 100%;
                        border-radius: 10px;
                        margin: 0 auto;
                    }
                    button{
                        padding: 10px 20px;
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 10px;

                        &.active{
                            background-color: $light-blue;
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }
            }

        }


    }
}

.nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .search{
        padding: 10px;
        background-color: #10101c;
        border: none;
        border-radius: 5px;
        width: 30%;
    }
 }




/* Стили для модального окна */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.user-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    background-color: #1a1a2e;
    color: #fff;
    .back-button{
        margin-right: 10px;
        font-size: 18px;
        cursor: pointer;
    }
     .icons{
        display: flex;
        gap: 10px;
        float: left;
            .icon {
                width: 20px;
                height: 20px;
                cursor: pointer;
                background-color: #10101c;
            }
    }
}




.compose-message {
    background-color: $dark-blue;
    border-radius: 8px;
    padding: 20px;
    width: 700px;
    bottom: 100px;
    left: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.compose-message textarea {
    height: 150px;
    resize: none;
}

.compose-message button {
    background-color: #3b3b3b;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #e0e0e0;
    cursor: pointer;
    margin-top: 10px;
}

.compose-message button:hover {
    background-color: #505050;
}

.compose-message .buttons {
    display: flex;
    justify-content: space-between;
}

.compose-message label {
    margin-top: 10px;
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.section-2 {
    width: 20%;
    height: 30vh;
    background-color: red
}



.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Inbox{
        padding: 20px;
        background-color: transparent;
    }
}