@import '../../../assets/styles/settings';

.add-product-wrapper {
    height: 100vh;
     // overflow: auto;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    scrollbar-width: none;

    .add-product-content {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }

        .middle {
            .section-1 {
                .product-form-card {
                    padding: 20px;
                    border-radius: 20px;

                    .body {
                        display: grid;
                        grid-template-columns: 40% 60%;
                        padding-top: 20px;
                        gap: 100px;

                        .left {
                            ul {
                                list-style-type: none;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;

                                li {
                                    .btn {
                                        button {
                                            display: flex;
                                            gap: 10px;
                                            align-items: center;

                                            .left-part {
                                                width: 50px;
                                                height: 50px;
                                                border-radius: 50%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                border: 1px solid $transparent-gray;

                                                div {
                                                    width: 50px;
                                                    height: 50px;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    // padding: 5px;
                                                    // margin: 2px;
                                                    border-radius: 50%;
                                                }

                                                &.active {
                                                    border: 1px solid $blue;

                                                    div {
                                                        background-color: $blue;

                                                        svg {
                                                            fill: #fff;

                                                        }
                                                    }

                                                    &:hover {
                                                        div {
                                                            svg {
                                                                fill: #fff;
                                                            }
                                                        }
                                                    }
                                                }

                                                &:hover {

                                                    border: 1px solid $blue;

                                                    div {
                                                        svg {
                                                            fill: $blue;
                                                            transition: 0s;
                                                        }
                                                    }
                                                }
                                            }

                                            .right-part {
                                                text-align: left;
                                            }
                                        }
                                    }

                                    position: relative;
                                    padding-bottom: 70px;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        border: 1px dashed $transparent-gray;
                                        top: 60px;
                                        height: 50px;
                                        left: 20px;
                                    }

                                    &:last-child {
                                        padding-bottom: 0;

                                        &::before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        .right {
                            width: 100%;

                            .add-product-details {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                .product-title {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    input {
                                        background-color: transparent !important;
                                        outline: none;
                                        border-radius: 5px;
                                        padding: 10px;
                                    }
                                }

                                .quill {
                                    border: 1px solid $transparent-gray;
                                    border-radius: 10px;
                                    width: 100%;
                                    height: 300px;

                                    * {
                                        border: none;
                                    }

                                    &.snow {
                                        border: 1px solid $gray;
                                    }
                                }
                            }

                            .product-categories {
                                display: flex;
                                gap: 20px;

                                .left-part {
                                    width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 20px;

                                    .add-category {
                                        select {
                                            width: 100%;
                                            outline: none;
                                            border: 1px solid $transparent-gray;
                                            padding: 10px;
                                            border-radius: 10px;
                                            margin: 10px 0;
                                        }
                                    }

                                    .publish-status {
                                        select {
                                            width: 100%;
                                            outline: none;
                                            border: 1px solid $transparent-gray;
                                            padding: 10px;
                                            border-radius: 10px;
                                            margin: 10px 0;
                                        }
                                    }

                                    .create-new-category {
                                        .blue-btn {
                                            background-color: $light-blue;
                                            padding: 10px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: $blue;
                                            font-weight: 600;
                                            border-radius: 10px;
                                        }
                                    }
                                }

                                .right-part {
                                    width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    gap: 20px;

                                    .add-tag {
                                        .tags-input {
                                            margin: 10px 0;
                                        }
                                    }

                                    .publish-date-time {
                                        input {
                                            width: 100%;
                                            outline: none;
                                            border: 1px solid $transparent-gray;
                                            padding: 10px;
                                            border-radius: 10px;
                                            margin: 10px 0;
                                        }
                                    }
                                }

                            }

                            .selling-prices {

                                input,
                                select {
                                    width: 100%;
                                    padding: 10px;
                                    border-radius: 10px;
                                    outline: none;
                                    border: 1px solid $transparent-gray;
                                    margin: 10px 0;
                                }

                                .initial-cost-and-selling-price {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    gap: 10px;
                                }

                                .choose-currency-and-product-stocks {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    gap: 10px;
                                }

                                .product-discount {
                                    .btns {
                                        display: grid;
                                        grid-template-columns: repeat(5, 1fr);
                                        gap: 20px;
                                        margin: 10px 0;

                                        button {
                                            width: 100%;
                                            height: 80px;
                                            border-radius: 10px;
                                            border: 1px solid $transparent-gray;
                                            font-weight: 700;
                                            &.dark-text{
                                                &.active {
                                                    background-color: #1f2028a6;
                                                }
                                                color: $gray-50;
                                            }
                                            &.light-text {

                                                &.active {
                                                    border: 1px solid $blue;
                                                    color: $blue;
                                                }
                                            }





                                            
                                        }
                                    }
                                }
                            }

                            .advance {
                                .top-part {
                                    width: 60%;
                                    margin-bottom: 20px;

                                    button {
                                        padding: 10px 50px;
                                        font-size: 16px;
                                        font-weight: 700;

                                        &.dark {
                                            color: $gray-50;
                                        }

                                        &.active {
                                            color: $blue;
                                            border-bottom: 2px solid $blue;
                                        }
                                    }
                                }

                                .bottom-part {

                                    select,
                                    input {
                                        width: 100%;
                                        padding: 10px;
                                        border: 1px solid $transparent-gray;
                                        border-radius: 10px;
                                        margin: 10px 0;
                                        outline: none;

                                        &.dark {
                                            background-color: $even-darker-blue;
                                            color: $gray-50;
                                            font-weight: 500;
                                        }

                                        &.dark-input {
                                            background-color: $dark-blue;
                                            color: $gray-50;
                                        }
                                    }

                                    .inventory {
                                        .sku-stock-and-reststack-date-pre-order {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr;
                                            gap: 10px;

                                            .sku-stock-quantity {
                                                display: grid;
                                                grid-template-columns: 1fr 1fr;
                                                gap: 10px;
                                            }

                                            .restock-date-pre-order {
                                                display: grid;
                                                grid-template-columns: 1fr 1fr;
                                                gap: 10px;
                                            }
                                        }

                                        .stock-low {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr;
                                            gap: 10px;
                                        }

                                        .allow-backorders {
                                            margin-top: 30px;

                                            h4 {
                                                margin-bottom: 10px;
                                            }

                                            div {
                                                display: flex;
                                                gap: 20px;

                                                div.input {
                                                    // display: flex;
                                                    width: 10px;

                                                    input {
                                                        // width: 10px;
                                                    }

                                                }
                                            }
                                        }
                                    }

                                    .additional-options {
                                        .additional-tag-specific-tags {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr;
                                            gap: 10px;
                                            .specific-tags{
                                                h4{
                                                    margin-bottom: 10px;
                                                }
                                            }
                                        }
                                        .additional-description{
                                            margin-top: 20px;
                                            .editor {
                                                border: 1px solid $transparent-gray;
                                                border-radius: 10px;
                                                margin: 10px 0;
                                                height: 150px;
                                                *{
                                                    border: none;
                                                    
                                                }
                                            }
                                        }
                                    }
                                    .shipping{
                                        display: flex;
                                        flex-direction: column;
                                        gap: 20px;
                                        .zip-city-state{
                                            display: grid;
                                            grid-template-columns: 1fr 1fr 1fr;
                                            gap: 10px;
                                            align-items: center;
                                            .city,.state{
                                                    margin-top: 16px;
                                            }
                                        }
                                        .dimensions{
                                            display: grid;

                                            grid-template-columns: 1fr 1fr 1fr;
                                            gap:10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}