@import '../../../assets/styles/settings';

.wishlist-wrapper{
    min-height: 100vh;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    scrollbar-width: none;
    .wishlist-content{
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }
        .middle{
            .section-1{
                .wishlist-card{
                    border-radius: 20px;
                    padding: 20px;
                    width: 100%;
                    .cards{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 20px;
                        .cardd{
                            border-radius: 10px;
                            border: 0.5px solid $transparent-gray ;
                            padding: 15px;
                            font-weight: 500;
                            display: grid;
                            align-items: center;
                            font-size: 14px;
                            .middle-part{
                                display: flex;
                                flex-direction: column;
                                .product{
                                    color: $gray;
                                }
                                .stock{
                                    color: $green;
                                }
                            }
                            .right-part{
                                height: 100%;
                                display: flex;
                                align-items: end;
                                div{
                                    button{
                                        @extend %blue-btn;
                                        font-size: 12px;
                                        padding: 0 5px;
                                    }
                                }
                            }
                            grid-template-columns: 0.8fr 3fr 1fr;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:960px){
    .wishlist-wrapper{
        .wishlist-content{
            .middle{
                .section-1{
                    .wishlist-card{
                        .cards{
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:640px){
    .wishlist-wrapper{
        .wishlist-content{
            .middle{
                .section-1{
                    .wishlist-card{
                        .cards{
                            grid-template-columns: repeat(1, 1fr);
                        }
                    }
                }
            }
        }
    }
}