@import '../../../assets/styles/settings';

.user-profile-wrapper {
    min-height: 100vh;
    height: auto;
    padding-bottom: 50px;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    scrollbar-width: none;

    .user-profile-content {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }

        .middle {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .section-1 {
                .profile-card {
                    display: flex;
                    flex-direction: column;
                    border-radius: 20px;

                    .header {
                        img {
                            border-radius: 10px 10px 0 0;
                            width: 100%;
                        }
                    }

                    .info {
                        display: grid;
                        justify-content: center;
                        grid-template-columns: 1fr 1fr 1fr;
                        width: 100%;
                        position: relative;
                        padding: 20px;

                        .avatar {
                            position: absolute;
                            left: 46.5%;
                            top: -80px;
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                        }

                        .middle {
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;

                            p {
                                &.fullname {
                                    font-size: 20px;
                                    font-weight: 700;
                                }
                            }
                        }

                        .info {
                            gap: 30px;
                            display: flex;
                            justify-content: space-between;

                            p {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                font-weight: 600;
                            }
                        }
                    }

                    .social-media {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icons {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 50px;
                        }
                    }

                    .followers {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 50px 0;
                        gap: 20px;

                        span {

                            p {
                                text-align: center;

                                &:first-child {
                                    font-size: 20px;
                                    font-weight: 700;
                                    margin: 10px 0;
                                }

                                &:last-child {
                                    font-size: 15px;

                                }
                            }
                        }
                    }
                }
            }

            .section-2 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: auto;
                width: 100%;
                background-color: transparent ;
                .post {
                    border-radius: 20px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .top-part {
                        display: flex;
                        justify-content: space-between;

                        span {
                            &:first-child {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                p {
                                    font-weight: 600;
                                }

                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }

                    .bottom-part {
                        .about {
                            margin: 50px 0;
                        }

                        .image {
                            img {
                                display: flex;
                                gap: 20px;
                                border-radius: 10px;
                            }
                        }
                    }

                    &.two {
                        .bottom-part {
                            .image {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                            }
                        }
                    }
                    &.four{
                    .bottom-part{
                        .image-about{
                            display: flex;
                            gap: 20px;
                            line-height: 30px;
                            img{
                                border-radius: 10px;
                            }
                        }
                    }
                    }
                }
            }
        }
    }
}

.avatar {
    width: 50px;
}