@import '../../assets/styles/settings';

.accordion-item{
    
    .accordion-title{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        button{
            color: $light-gray;
            margin: 5px 0;
            font-size: 15px;
            font-weight: 700;
        }
        svg{
            fill: $light-gray;
            
        }
    }
    .accordion-content{
        border-left: 2px dotted $light-gray ;
        padding-left: 15px;
        ul{
            a{
                color: #6A7185;
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                
                &:hover{
                    color: $light-gray;
                }
                .line{
                    width: 100%;
                    height: 5px;
                    color: $light-gray;
                }
            }
        }
    }
}