@import '../../assets/styles/settings';

.accordion-item{
    
    .accordion-title{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        button{
            color: $light-gray;
            margin: 5px 0;
            font-size: 15px;
            font-weight: 700;
        }
        svg{
            fill: $light-gray;
            
        }
    }
    .accordion-content{
        border-left: 2px dotted $light-gray ;
        padding-left: 15px;

        ul{
            height: 100% ;
            list-style-type: none;
            li{
                margin: 10px 0;
                a{
                    color: #6A7185;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
        
                    &.active{
                        color: #fff;
                        &:hover{
                            color: #fff;
                        }
                    }
                    &:hover{
                        color: $light-gray;
                        font-size: 15px;
                    }
    
                }
            }
        }
    }
}