@import '../../../assets/styles/settings';

.kanban-wrapper {
    min-height: 100vh;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    .kanban-content {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }
        .middle{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .section-1{
                .default-demo-card{
                    padding: 20px;
                    border-radius: 20px;
                    h3{
                        margin-bottom: 10px;
                    }
                }
            }
            .section-2{
                .custom-board-card{
                    padding: 20px;
                    border-radius: 20px;
                    h3{
                        margin-bottom: 10px;
                    }

                }
            }
        }
    }
}