@import './assets/styles/settings';

.app-wrapper {
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
    #container {
        width: inherit ;
        .body {
            display: flex;
            width: 100%;
            .left-panel{
                height: 100vh;
                
            }
            .right-panel{
                width: inherit ;
                height: 100vh;
                overflow: auto;

                // padding-top:80px ;
                ::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }
            
            
                scrollbar-width: none;

                .footer{
                    padding: 30px 20px;
                    p{
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .modal-window-bag{
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 10;
        background-color: #00000050;
    }
}
* .dark{
    &-bg{
        @extend %dark-bg;
    }
    &-cardd{
        @extend %dark-card;
        color: $gray-50
    }
    &-icon{
        background-color: $even-darker-blue
    }
    &-text *{
        color: $gray-50;
    }
    &-input{
        background-color: $even-darker-blue;
        color: $gray-50;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid $transparent-gray;
        outline: none;
    }

    
}
* .light{ 
    &-bg{
        @extend %light-bg;
    }
    &-icon{
        background-color: $bg-color;
    }
    &-cardd{
        @extend %light-card;
    }
    &-text{
        color: $dark-blue;
       
    }
    &-input{
        background-color: $bg-color;
        color: $dark-blue;
        padding: 10px 20px;
        border-radius: 10px;
        width: 100%;
        border: 1px solid $light-gray;
        outline: none;
    }

}