@import '../../assets/styles/settings';

.header-wrapper {
    height: 80px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 10;
    .header-content {
        width: 100%; // изменено с 86% на 100%
        display: grid;
        justify-content: right;
        align-items: center;
        padding: 0 20px;
        height: 100%; // изменено с inherit на 100%
        position: absolute; // изменено с fixed на absolute
        top: 0;
        left: 0; // добавлено
        right: 0; // добавлено
        gap: 100px;

        .content {

            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
            .icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap:20px;
                .icon {
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &.change_lang{
                        position: relative;
                        .dropdown{
                            width: 150px;
                            height: auto;
                            position: absolute;
                            z-index: 10;
                            bottom: -100px;
                            padding: 10px 0 ;
                            box-shadow: 1px 1px 10px $light-blue;
                            border: 1px solid $light-blue;
                            display: none;
                            .lang{
                                padding: 10px;
                                &:hover{
                                    padding-left: 25px;
                                }
                                &.active{
                                    background-color: $blue;
                                    color: #fff;
                                    &:hover{
                                        padding: 10px;
                                    }
                                }
                            }
                        }   
                        &:hover{
                            .dropdown{
                                display: block;
                            }
                        }
                    }
                }
            }
            .user {
                display: flex;
                gap: 5px;
                .avatar{
                    img{
                        border-radius: 10px;
                        width: 50px;
                        height: 50px;
                    }
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}
@media(max-width:670px){
    .header-wrapper{
        .header-content{
            .content{
                .user{
                    .info{
                        display: none;
                    }
                }
            }
        }
    }
}
@media(max-width:540px){
    .header-wrapper{
        .header-content{
            .content{
                .icons{
                    gap:5px;
                }
            }
        }
    }
}