@import '../../assets/styles/settings';

.header-wrapper {
    height: 80px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;

    .header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .left{
            width: 40%;
            .input-wrapper{
                background-color: #F2F5FA;
                width: 100%;
                display: flex;
                align-items: center;
                svg{
                    margin: 10px;
                }
                input{
                    width: 100%;
                    background-color: transparent ;
                    border: none;
                    outline: none;
                    padding: 15px 0;
                }
            }
        }
        .right{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon{
                border-radius: 50%;
                background: #F2F5FA;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .user{
                display: flex;
                gap: 5px;
                .info{
                    
                    display: flex;
                    flex-direction: column ;
                    justify-content: center;
                }
            }
        }
    }
}