@import '../../assets/styles/settings';

.header-wrapper {
    height: 80px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 10;
    overflow: hidden; // добавлено для предотвращения выхода содержимого за границы
    .header-content {
        width: 100%; // изменено с 86% на 100%
        display: grid;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 100%; // изменено с inherit на 100%
        position: absolute; // изменено с fixed на absolute
        top: 0;
        left: 0; // добавлено
        right: 0; // добавлено
        grid-template-columns: 1fr 1.5fr;
        gap: 100px;
        .left {

            .input-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                svg {
                    margin: 10px;
                }
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 15px 0;
                }
            }
        }
        .right {

            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
            .icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap:20px;
                .icon {
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .user {
                display: flex;
                gap: 5px;
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}
