@import '../../../assets/styles/settings';

.product-page-wrapper {
    min-height: 100vh;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    scrollbar-width: none;

    .product-page-content {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            margin: 0 0 20px 0;
        }

        .middle {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .section-1 {
                display: grid;
                grid-template-columns: 0.5fr 1.5fr 0.5fr;
                
                gap: 20px;

                .carousel-card {
                    padding: 20px;
                    height: auto;
                    border-radius: 20px;

                    .carousel-root {
                        .carousel {
                            .thumbs-wrapper {
                                padding-top: 10px;
                                margin: 0;

                                // display: none;
                                .thumbs {
                                    .thumb {
                                        border: 1px solid $blue;
                                        padding: 0;
                                        border-radius: 10px;
                                        // margin: 1px;
                                    }
                                }
                            }

                            &.carousel-slider {
                                .image {
                                    width: 100%;
                                    height: 400px;
                                    padding: 5px;
                                    border-radius: 10px;
                                    overflow: hidden;

                                    img {
                                        border-radius: 10px;
                                    }
                                }

                                height: 400px;
                            }
                        }
                    }
                }

                .about-card {
                    height: auto;
                    padding: 20px;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .price {
                        display: flex;
                        gap: 5px;
                        font-weight: 600;
                        align-items: center;

                        .current-price {
                            font-size: 20px;
                            color: $blue;
                        }

                        .old-price {
                            text-decoration: line-through;
                        }
                    }

                    .colors {
                        display: flex;
                        gap: 5px;

                        span {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;

                            &:nth-child(1) {
                                background-color: $blue;
                            }

                            &:nth-child(2) {
                                background-color: $orange;
                            }

                            &:nth-child(3) {
                                background-color: $green;
                            }

                            &:nth-child(4) {
                                background-color: $skyblue;
                            }

                            &:nth-child(5) {
                                background-color: $yellow;
                            }
                        }
                    }

                    .desc {

                        p {
                            text-wrap: balance;
                            font-weight: 500;
                            line-height: 30px;
                        }
                    }

                    .params {
                        ul {
                            list-style-type: none;

                            li {
                                margin: 10px 0;

                                .green {
                                    color: $green;
                                }
                            }
                        }
                    }

                    .share-it {
                        .icons {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            a {
                                border-radius: 50%;
                                border: 1px solid $transparent-gray;
                                width: 50px;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                &:hover {
                                    border: 1px solid $blue;

                                    * {
                                        fill: $blue;
                                    }
                                }
                            }
                        }
                    }

                    .rate-now {
                        .btns {
                            display: flex;
                            gap: 10px;
                            margin-top: 25px;

                            button {
                                a {
                                    color: #fff;
                                    font-size: 16px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 2px 15px;
                                    gap: 5px;
                                }

                                &.blue-btn {
                                    @extend %blue-btn;
                                }

                                &.green-btn {
                                    @extend %green-btn;
                                }

                                &.orange-btn {
                                    @extend %orange-btn;
                                }
                            }
                        }
                    }
                }

                .brand-and-delivery-cards {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .brand-card {
                        padding: 20px;
                        border-radius: 20px;

                        a {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                    }

                    .delivery-card {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        padding: 20px;
                        border-radius: 20px;

                        div {
                            display: flex;
                            gap: 10px;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            .left {
                                * {
                                    fill: $blue;
                                }
                            }
                        }
                    }
                }
            }
            .section-2{
                    .more-details-card{
                        padding: 20px;
                        border-radius: 20px;
                        .top-part{
                            display: flex;
                            gap: 10px;
                            border-bottom: 1px solid $transparent-gray;
                            button{
                                padding: 10px 20px;
                                font-size: 20px;
                                font-weight: 600;
                                &.active{
                                    border-bottom: 2px solid $blue;
                                    color: $blue;
                                    &.dark{
                                        color: $blue;
                                    }
                                }
                                &.dark{
                                    color: $gray-50;
                                }
                            }
                        }
                        .bottom-part{
                            padding: 20px;
                            p{
                                text-wrap: balance;
                                line-height: 25px;
                            }
                        }
                    }
            }
        }
    }
}
@media(max-width:1600px){
    .product-page-wrapper{
        .product-page-content{
            .middle{
                .section-1{
                    grid-template-columns: repeat(2, 1fr);
                    .brand-and-delivery-cards{
                        display: grid;
                        grid-column: span 2;
                       grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}
@media(max-width:1100px){
    .product-page-wrapper{
        .product-page-content{
            .middle{
                .section-1{
                    display: flex;
                    flex-direction: column;
                    .carousel-card{
                        min-height: 500px;
                        .carousel-root{
                            .carousel{
                                &.carousel-slider{
                                    .image{
                                        height: auto;
                                        min-height: 300px;
                                        overflow: visible;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:550px){
    .product-page-wrapper{
        .product-page-content{
            .middle{
                .section-1{
                    .about-card{
                        .rate-now{
                            .btns{
                                flex-direction: column;
                            }
                        }
                    }
                    .brand-and-delivery-cards{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .section-2{
                    .more-details-card{
                        .top-part{
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}