@import '../../../assets/styles/settings';

.ecommerce-wrapper {

    min-height: 100vh;
    overflow: scroll;
    padding-bottom: 50px;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }


    scrollbar-width: none;

    .ecommerce-content {
        width: 95%;
        margin: 0 auto;
        padding-top: 20px;

        .top {
            display: flex;
            justify-content: space-between;
        }

        .middle {
           
            .section-1{
                margin-top: 20px;
                display: grid;
                gap: 20px;
                width: 100%;
                grid-template-columns: 1fr 1fr;
                .four-cards {
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
    
                    .cardd {

                        width: 100%;
                        height: 120px;
                        border-radius: 20px;
                        display: grid;
                        grid-template-columns: 1fr 2fr 1fr ;
                        justify-content: center;
                        align-items: center;
                        padding: 20px;
                        &:hover {
                            transform: translateY(-10px);
                            .circle{
                                animation: rotate 2s linear infinite;
                            }
    
                        }
                        .chart{
                            width: 100px;
                            height: 50px;
                        }
                     
                    }
                }
                .daily-visitors-card{
                    width: 100%;
                    padding: 20px;

                    display: flex;
                    
                    border-radius: 20px;
                    .left{
                        display: grid;
                        grid-template-columns: 100%;
                        width: 70%;
                        .chart{
                            height: auto;
                            width: 100%;
                        }
                    }
                    .right{
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        justify-content: end;
                        padding: 20px 0;
                        .top-part{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            div{
                                width: 80px;
                                height: 70px;
                                display: flex;
                                justify-content:center ;
                                align-items: center;
                                flex-direction: column;
                                p{
                                    font-size: 14px;
                                }
                                padding: 10px;
                                border-radius: 5px;
                            }
                            .deals{
                                background-color: $light-blue;
                            }
                            .order-price{
                                background-color: $light-orange;
                            }
                        }
                        .bottom-part{
                            display: flex;
                            flex-direction: column;
                            
                            .chart_line{
                                span{
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;
                                }
                                .chart{
                                    width: 100%;
                                    height: 5px;
                                    margin: 5px 0;
                                    border-radius: 10px;
                                    &.blue{
                                        background-color: $light-blue;
                                        div{
                                            width: 70%;
                                            height: inherit;
                                            background-color: $blue;
                                            border-radius: 10px;
                                        }
                                    }
                                    &.orange{
                                        background-color: $light-orange;
                                        div{
                                            width: 70%;
                                            height: inherit;
                                            background-color: $orange;
                                            border-radius: 10px;
                                        }
                                    }
                                }  
                            }
                        }
                    }
                }
            }
            .section-2{
                margin-top: 20px;
                display: grid;
                grid-template-columns: 0.4fr 0.6fr;
                gap: 20px;
                background-color: transparent;
                width: 100%;
                .top-product-card{

                    display: flex;
                    flex-direction: column;
                    
                    padding: 20px;
                    border-radius: 20px;
                    #subtitle{
                        margin: 20px 0;
                    }
                    .cards{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 50px;
                        
                        .cardd{
                            display: flex;
                            flex-direction: column;
                            grid: 10px;
                            .image{
                                background-color: $light-blue;
                                height: 200px;
                                img{
                                    width: 100%;
                                    transform: translateY(-50px);
                                }
                            }
                            .about{
                                span{
                                    display: flex   ;
                                    gap: 5px;
                                    p{
                                        &:first-child{
                                            color: $blue;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media(max-width:1430px){
    .ecommerce-wrapper{
        .ecommerce-content{
            .middle{
                .section-1{
                    .four-cards{
                        grid-template-columns: repeat(1, 1fr);
                    }
                    .daily-visitors-card{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
@media(max-width:1020px){
    .ecommerce-wrapper{
        .ecommerce-content{
            .middle{
            .section-2{
                grid-template-columns: repeat(1, 1fr);
            }
            }
        }
    }
}

@media(max-width:660px){
    .ecommerce-wrapper{
        .ecommerce-content{
            .middle{
                .section-1{
                    grid-template-columns: repeat(1, 1fr);
                }
            }

        }
    }
}