@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$dark-blue: #171829;
$even-darker-blue: #10101c;
$light-blue:#5c61f21a;
$transparent-gray: #c9c9c921;
$light-gray: #9FA8C1;
$gray:#959595;
$bg-color:#f2f5fa;
$white-transparent: #ffffff99;
$blue:#5c61f2;
$green:#61ae41;
$orange:#ff9766;
$yellow:#E7AE2F;
$light-orange:#ff97661a;
$red:#f81f58;
$skyblue:#44A8D7;
$gray-50:#ffffff99;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  transition: 0.5s, color 0.09s;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: $light-gray;
  font-weight: 700;
}
%title {
  background: $even-darker-blue;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  margin-bottom:10px ;

}
%green-btn{
  background-color: $green;
  padding: 5px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
%orange-btn{
  background-color: $orange;
  padding: 5px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
%blue-btn{
  background-color: $blue;
  padding: 5px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
%red-btn{
  background-color: $red;
  padding: 5px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

