@import '../../assets/styles/settings';
.general-wrapper{
    background: $dark-blue;
    height: 100vh;
    position: relative;
    padding: 10px;
    width: 250px;
    overflow-y: scroll;
    transition: 0s;
    &.free{
        width: 80px;
        &:hover{
            position: absolute;
            z-index: 11;
            width: 250px;
            .general-header{
                .general-toggle-sidebar{
                    display: flex;
                }
                .right *{
                    display: flex;
                }
            }
            .general-menu{
                gap: 50px;
                #title{
                    display: inline-block;
                }
                .accordion-content{
                    display: flex;
                }
                .right *{
                    display: flex;
                }
            }
        }
        .general-header{
            .general-toggle-sidebar{
                display: none;
            }
            .right *{
                display: none;
            }
        }
        .general-menu{
            gap: 5px;
            #title{
                display: none;
            }
            .accordion-content{
                display: none;
            }
                    .right *{
                        display: none;
                    }
        }
    }
    .general-header{
        width: inherit;
        height: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $transparent-gray;
        position: fixed;
        background: $dark-blue;
        z-index: 1;
        top: 0;
        left: 0;
        .general-logo{
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            text-align: center;
            font-weight: 500;
            font-size: 30px;
            color: #fff;
            .left{
                padding-top: 10px;
            }
        }
        .general-toggle-sidebar{

            background: $transparent-gray;
            border-radius: 50%;
            display: flex;
            button{
                padding: 10px;
                display: flex;
            }
        }
    }
    .general-menu{
        position: relative;
        margin-top: 100px;
        padding-left: 20px;
        z-index: 0;
        height:inherit;
        display: flex;
        flex-direction: column;
        gap: 30px;
        #title{
            @extend %title;
        }
        .logo-link{
            display: flex;
            gap: 10px;
            margin: 5px 0;
            width: 100%;
            cursor: pointer;
            .right{
                color: $light-gray;
                font-weight: 700;
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }
        }
    }
    .mini-general{
        display: none;

    }
@media(max-width:1200px){
    .general-wrapper{
        width: 80px;
        &:hover{
            position: absolute;
            z-index: 11;
            width: 250px;
            .general-header{
                .general-toggle-sidebar{
                    display: flex;
                }
                .right *{
                    display: flex;
                }
            }
            .general-menu{
                gap: 50px;
                #title{
                    display: inline-block;
                }
                .accordion-content{
                    display: flex;
                }
                .right *{
                    display: flex;
                }
            }
        }
        .general-header{
            .general-toggle-sidebar{
                display: none;
            }
            .right *{
                display: none;
            }
        }
        .general-menu{
            gap: 5px;
            #title{
                display: none;
            }
            .accordion-content{
                display: none;
            }
                    .right *{
                        display: none;
                    }
        }
    }

}